@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/************
 GLG Fonts
************/

@font-face {
font-family: NHaasGroteskDSW02-15UltTh;
src: url(fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.eot);
src: url(fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.eot?#iefix) format("embedded-opentype"),url(fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.woff) format("woff"),url(fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.ttf) format("truetype"),url(fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.svg#e52b991ea1a73b9e8fb2a9f647ce1fe1) format("svg");
font-style: normal;
font-weight: 400;
}
@font-face {
font-family: NHaasGroteskDSStd-25Th;
src: url(fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.eot);
src: url(fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.eot?#iefix) format("embedded-opentype"),url(fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.woff) format("woff"),url(fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.ttf) format("truetype"),url(fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.svg#a6edbb850aba76ea59dba404ea3681c2) format("svg");
font-style: normal;
font-weight: 400;
}
@font-face {
font-family: NHaasGroteskDSW02-35XLt;
src: url(fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.eot);
src: url(fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.eot?#iefix) format("embedded-opentype"),url(fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.woff) format("woff"),url(fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.ttf) format("truetype"),url(fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.svg#b14b9ec1c91f55e07ace8146b8931ecd) format("svg");
font-style: normal;
font-weight: 400;
}
@font-face {
font-family: NHaasGroteskDSW02-45Lt;
src: url(fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.eot);
src: url(fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.eot?#iefix) format("embedded-opentype"),url(fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.woff) format("woff"),url(fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.ttf) format("truetype"),url(fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.svg#b14b9ec1c91f55e07ace8146b8931ecd) format("svg");
font-style: normal;
font-weight: 400;
}
@font-face {
font-family: NHaasGroteskDSW02-55Rg;
src: url(fonts/NHaasGroteskDSW02-55Rg/NHaasGroteskDSW02-55Rg.eot);
src: url(fonts/NHaasGroteskDSW02-55Rg/NHaasGroteskDSW02-55Rg.eot?#iefix) format("embedded-opentype"),url(fonts/NHaasGroteskDSW02-55Rg/NHaasGroteskDSW02-55Rg.woff) format("woff"),url(fonts/NHaasGroteskDSW02-55Rg/NHaasGroteskDSW02-55Rg.ttf) format("truetype"),url(fonts/NHaasGroteskDSW02-55Rg/NHaasGroteskDSW02-55Rg.svg#140d60db2b75d6e38d6f90e1466908b2) format("svg");
font-style: normal;
font-weight: 400;
}
@font-face {
font-family: NHaasGroteskDSW02-Bd;
src: url(fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.eot);
src: url(fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.eot?#iefix) format("embedded-opentype"),url(fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.woff) format("woff"),url(fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.ttf) format("truetype"),url(fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.svg#d0af5dc50d550ce255c6bb258c2a14ae) format("svg");
font-style: normal;
font-weight: 400
}
@font-face {
font-family: GLG_PD_131126;
src: url(fonts/glg-icons/GLG_PD_131126.eot);
src: url(fonts/glg-icons/GLG_PD_131126.eot?#iefix) format("embedded-opentype"),url(fonts/glg-icons/GLG_PD_131126.ttf) format("truetype"),url(fonts/glg-icons/GLG_PD_131126.woff) format("woff"),url(fonts/glg-icons/GLG_PD_131126.svg#GLG_PD_131126) format("svg");
font-weight: 400;
font-style: normal;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.logo {
  font-family: NHaasGroteskDSW02-Bd!important; }

div.header {
  font-size: 1em;
  padding: 0.5em 0.5em;
  position: fixed;
  text-align: left;
  width: 100%;
}

.glg-red-slash {
  color: #EA0015;
  padding: 0em 0.1em; }

.reveal {
  font-family: NHaasGroteskDSW02-55Rg;
  font-size: 36px;
  font-weight: normal;
  color: #000; }

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.1;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-family: NHaasGroteskDSW02-55Rg;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal li {
  padding: 0.5em 0em; }

.reveal ul ul {
  list-style-type: none; }

.reveal ul ul ul {
  list-style-type: none; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  color: brown; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00008B;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
  white-space: nowrap; }

.reveal a:hover {
  color: #0000f1;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00003f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00008B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #00008B; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #00008B; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #00008B; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #00008B; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #0000f1; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #0000f1; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #0000f1; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #0000f1; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #00008B;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
